.product-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.product{
    width: 350px;
    border: 1px solid #e9e9ed;
    box-shadow: 0 2px 16px 4px rgba(40,44,63,.07);
}

.product-image{
    position: relative;
    border: 1px solid #e9e9ed;
    img{
        width: 312px;
        height: 188px;
    }
 
}

.product-details{
    padding: 0 10px;
}

.product-discount {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 400px;
    padding: 6px 5px 6px 6px;
    border: 1px solid #e9e9ed;
    z-index: 99;
}

.no-results{
    width: 100%;
}
